* {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Mukta Mahee', 'Arial', sans-serif;
    color: #000;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    background: #fff;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

.navbar-brand {
    padding: 3px;
    height: auto
}


/*
nav ul {
    padding: 20px;
    list-style: none;
    text-align: right;
}

nav li {
    display: inline-block;
}

nav a {
    padding: 5px 10px;
    border-radius: 10px;
}

@media screen and (min-width: 700px) {
    .navbar-nav > li > a {
        padding: 5px 10px;
        border-radius: 10px;
        background: #e6e6e6;
        color: #969696;
        margin-top: 25%;
        margin-right: -10%;

    }
}

@media screen and (max-width: 700px) {
    .navbar-nav > li > a {
        padding: 5px 10px;
        text-align: center;
    }
}
*/

/*
button.navbar-toggle.collapsed{
    margin-top: 3.4375%;
}
*/

.navbar-default {
    background-color: #fff;
    border-color: #fff;
}


.container2 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

        /* Hide the browser's default checkbox */
        .container2 input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }

.checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;
            background-color: #eee;
            border-radius: 50%;
        }

.container2 .checkmark:after {
            top: 8px;
            left: 7px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: white;
        }


        #radio .container2 input:checked~.checkmark {
            background-color: #1e7ad2;
        }

        .tspace {
            padding: 10px;
            margin-top:10px;
        }

#s1 {
    text-align: center;
}


@media screen and (min-width: 700px) {
    #logo {
        width: auto;
        max-width: 200px;
        margin-top: 1.5625%;
    }
}

@media screen and (max-width: 700px) {
    #logo {
        width: auto;
        max-width: 100px;
        margin-top: 3.4375%;
        margin-left: 1.5625%;
    }
}

/*
@media screen and (min-width: 700px) {
    #s1 h1 {
        color: #969696;
        margin-left: 0.25%;
        margin-right: 431px;
        padding: 20px;
        display: inline-block;
    }
}
@media screen and (max-width: 700px) {
    #s1 h1 {
        font-size: 30px;
        color: #969696;
        margin-left: -0.75%;
            margin-right: 5px;
        padding-left: 20px;
        display: inline-block;
    }
}
*/

@media screen and (min-width: 700px) {
    #call {
        /*    position:absolute;*/
        text-align: right;
        /*    margin-top: -112px;*/
        margin-top: 4.7%;
        padding-right: 1.5%;
    }
}

@media screen and (max-width: 700px) {
    #call {
        /*    position:absolute;*/
        text-align: right;
        /*    margin-top: -112px;*/
        margin-top: -16.3%;
        padding-right: 1.5%;
    }
}

@media screen and (min-width: 700px) {
    #call a {
        color: #000;
        font-size: 24px;
    }
}

@media screen and (max-width: 700px) {
    #call a {
        color: #000;
        font-size: 16px;
    }
}


@media screen and (min-width: 700px) {
    #call a {
        color: #000;
        font-size: 24px;
    }
}

@media screen and (max-width: 700px) {
    #call a {
        color: #000;
        font-size: 16px;
    }
}

@media screen and (max-width: 700px) {
    #call h4 {
        font-size: 16px;
    }
}

#s2 {
    text-align: center;
}

@media screen and (min-width: 768px) {
    #vid iframe {
        width: 100%;
        height: 100vh;
    }
}

@media screen and (max-width: 768px) {
    #vid iframe {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    #vid2 iframe {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    #vid2 iframe {
        width: 100%;
        height: 100vh;
    }
}

.transvid {
    position: absolute;
    background-color: rgba(10, 10, 10, 0.4);
    border: 1px solid black;
    /*
        opacity: 0.5;
        filter: alpha(opacity=60);
         For IE8 and earlier 
*/
    /*        padding-bottom: 3px;*/
    /*        width: 100%;*/
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.captions {
    position: absolute;
    top: 50px;
    color: #fff;
    /*    left:200px;*/
    text-align: center;
    width: 100%;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
}


@media screen and (max-width: 768px) {
    .captions h1 {
        font-size: 44px;
    }
}

@media screen and (max-width: 768px) {
    .captions h2 {
        font-size: 38px;
    }
}

.caption h2 {
    top: 150px;
}

.btn,
input[type='submit'] {
    position: relative;
    text-decoration: none;
    background: #b3b3b3;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 10px;
    color: #eb2123;
    text-shadow: none;
}

.captions a {
    margin-top: 55px;
}

.btn:hover,
input[type='submit']:hover {
    color: #b3b3b3;
    background: #eb2123;
}

#s3 img {
    width: 50%;
    margin-top: -5%;
    margin-left: 25%;

}

/*
#s3 h3{
margin-top:-55%;
}
*/

#carousel-example-generic {
    position: relative;
}

@media screen and (min-width: 768px) {
    .carousel-caption h1 {
        position: absolute;
        top: -750px;
        width: 100%;
        text-align: center;
        color: #fff;
        text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
        font-size: 50px;
    }
}

@media screen and (max-width: 768px) {
    .carousel-caption h1 {
        position: absolute;
        font-size: 30px;
        top: -125px;
        width: 100%;
        text-align: center;
        color: #fff;
        text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
    }
}

/*
@media screen and (min-width: 700px) {
    .proof {
        width: calc(50% - 30px);
        border: 1px solid #969696;
        background: #e6e6e6;
        padding: 40px;
        margin: 15px;
        border-radius: 10px;
    }
}
@media screen and (max-width: 700px) {
    .proof {
        border: 1px solid #969696;
        background: #e6e6e6;
        padding: 40px;
        margin: 15px;
        border-radius: 10px;
    }
}
*/

footer {
    text-align: center;
}

#hero {
    background-image: url(../img/axel-ahoi-50659-unsplash.jpg);
    background-size: 100% auto;
    background-attachment: fixed;
    background-position: center center;
    padding: 80px 0px 35px 0px;
    /*    height: 265vh;*/
    /*	display: flex;*/
}

#s2 h3 {
    text-align: center
}

#hero h2 {
    text-align: center;
    color: #fff;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
    font-size: 55px;
}

/*
@keyframes iconflip {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

#s3 div div div h2 div {
    display: inline-block;
    width: auto;
        text-align: center;
}

#s3 div div div:hover > h2 > div {
    -webkit-animation: iconflip 2s;
    -moz-animation: iconflip 2s;
    -o-animation: iconflip 2s;
    animation: iconflip 2s;
}

#s3 div div div:hover {
	background: #FFF9CB;
	box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, .75);
	text-shadow: none;
}
*/

#map {
    padding: 10px;
}

#map iframe {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .transbox {
        /*  margin: 30px;*/
        background-color: rgba(255, 255, 255, 0.75);
        border: 1px solid black;
        /*
        opacity: 0.75;
        filter: alpha(opacity=75);
         For IE8 and earlier 
*/
        padding-bottom: 3px;
        width: 48%;
    }
}

@media screen and (max-width: 768px) {
    .transbox {
        /*  margin: 30px;*/
        background-color: rgba(255, 255, 255, 0.75);
        /*        border: 1px solid black;*/
        /*
        opacity: 0.8;
        filter: alpha(opacity=60);
*/
        /* For IE8 and earlier */
        padding: 3px 3px;
    }
}

.transbox h2,
h3 {
    margin: 5%;
    font-weight: bold;
    color: #000000;
    text-align: center;
}

#contact {
    align-content: right;
    color: #000;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 254);
}

@media screen and (min-width: 768px) {
    #contact label {
        color: #000;
        font-size: 24px;
        padding-bottom: 20px;
        display: inline-block;
        width: 75%;
        font-weight: bold;
        margin-left: 25%;
    }
}


@media screen and (max-width: 768px) {
    #contact label {
        color: #000;
        font-size: 24px;
        padding-bottom: 20px;
        display: inline-block;
        width: 75%;
        font-weight: bold;
        margin-left: 15%;
    }
}


@media screen and (max-width: 768px) {
    .row {
        width: 103.5%;
    }
}

#contact p {
    color: #fff;
}

#last {
    padding-bottom: 30px;
}

#last input {
    left: 40%;

}

input {
    color: #000;
}

textarea {
    color: #000;
    width: 250px;
    /*  height: 150px;*/
}

footer {
    background: #353535;
}

/*
footer a {
    color: #fff;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
}

footer a:hover {
    color: #fff;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
    text-decoration: none;
}
*/

footer small {
    color: #fff;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
    top: -10%;
    /*    background: #a13c3e;*/
}

footer a {
    color: #fff;
}
